# Importing Dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd

# Data Collection and Pre-Processing

In [3]:
df = pd.read_csv('mail_data.csv')

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.shape

(5572, 2)

In [6]:
# Replace the null values with null string

In [7]:
df1 = df.where((pd.notnull(df)),'')

# Label Encoding

In [8]:
# Label spam mail as 0 and ham mail as 1

In [9]:
df1.loc[df1['Category']=='spam','Category']=0

In [10]:
df1.loc[df1['Category']=='ham','Category']=1

In [11]:
df1

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
# Seperating the data as texts and lables

In [13]:
x = df1['Message']
y = df1['Category']

### Splitting the data into training and testing

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 31)

In [15]:
print(x_test.shape)

(1115,)

In [16]:
print(x_train.shape)

(4457,)

# Feature Extraction

In [17]:
# Converting the text data into numerical values 
                       # or 
# transform the text data to features vectors that can be used as an input to the Logistic model

In [18]:
feature_extraction  = TfidfVectorizer(min_df = 1,stop_words = 'english', lowercase = 'True')

In [19]:
x_train_feature = feature_extraction.fit_transform(x_train)

In [20]:
x_test_feature = feature_extraction.transform(x_test)

In [21]:
print(x_train_feature)

  (1, 3951)	0.4976712597693611
  (1, 4388)	0.5813891955281859
  (1, 257)	0.6436691079449642
  (2, 185)	0.4191148379321832
  (2, 6212)	0.28472765896823343
  (2, 7020)	0.1948835981509337
  (2, 6685)	0.341364890568695
  (2, 5632)	0.3535369166554257
  (2, 1949)	0.2687613570464984
  (2, 4234)	0.24858252612965231
  (2, 4119)	0.30460895084551326
  (2, 830)	0.3535369166554257
  (2, 5843)	0.3346252416542836
  (3, 3508)	0.22980497747167994
  (3, 1838)	0.22980497747167994
  (3, 7091)	0.22980497747167994
  (3, 4502)	0.20266098663791918
  (3, 4694)	0.15882120365558217
  (3, 1930)	0.22980497747167994
  (3, 3690)	0.2218435106682677
  (3, 1610)	0.1834784626075706
  (3, 6025)	0.20635640547487757
  (3, 7038)	0.15954006309280588
  (3, 6623)	0.22980497747167994
  (3, 1108)	0.17730306919134944
  :	:
  (4454, 6600)	0.23697223695873515
  (4455, 230)	0.3225747483999194
  (4455, 1436)	0.29690201196502575
  (4455, 1069)	0.2629645003991015
  (4455, 6)	0.2668668357544048
  (4455, 409)	0.22902698883317724
  (4455, 18)	0.2668668357544048
  (4455, 307)	0.22482952897183964
  (4455, 1)	0.2337616722401067
  (4455, 12)	0.2562116874248217
  (4455, 1577)	0.25324707125776474
  (4455, 1390)	0.24119409931951116
  (4455, 5461)	0.22757433482287115
  (4455, 5292)	0.19089201740591538
  (4455, 7369)	0.18883382517425795
  (4455, 7024)	0.2005037747793071
  (4455, 1108)	0.2372917639642079
  (4455, 4447)	0.17381623706894747
  (4456, 4267)	0.41404856042110283
  (4456, 5258)	0.4610974875278923
  (4456, 6538)	0.37172829333399765
  (4456, 1881)	0.31589347163696585
  (4456, 4926)	0.3530445948681294
  (4456, 5067)	0.29663235165156565
  (4456, 2885)	0.40663380222120815

In [22]:
print(x_test_feature)

  (0, 6774)	0.3553198005108047
  (0, 4388)	0.42418962886213835
  (0, 4163)	0.32254279786812723
  (0, 3948)	0.43373000914055804
  (0, 3204)	0.32335762894994097
  (0, 3131)	0.5450644591651223
  (1, 7386)	0.22126735228897162
  (1, 5834)	0.229806505073374
  (1, 5674)	0.5295817546652275
  (1, 4942)	0.5171919238067024
  (1, 2580)	0.5918491430354617
  (2, 4801)	0.36794888787162455
  (2, 4033)	0.38558566729489685
  (2, 3760)	0.6751750171385019
  (2, 2750)	0.5099764752641118
  (3, 5071)	0.4700909360646816
  (3, 4238)	0.4534913701940281
  (3, 1317)	0.6115803742958915
  (3, 777)	0.44646336329588315
  (4, 7481)	0.2726692294436187
  (4, 7241)	0.4099295805675901
  (4, 7082)	0.5591003478540084
  (4, 4796)	0.2720262302476369
  (4, 4071)	0.3421914903724247
  (4, 3863)	0.3850813347470535
  :	:
  (1112, 6027)	0.8762331911092707
  (1112, 4151)	0.1692130203687933
  (1112, 4076)	0.20055581579911422
  (1112, 3957)	0.20055581579911422
  (1112, 2276)	0.1802672053322346
  (1113, 7042)	0.37407226380906894
  (1113, 6523)	0.3887675633820155
  (1113, 4623)	0.45869361752046767
  (1113, 3337)	0.2944795323433068
  (1113, 1329)	0.4094794248450733
  (1113, 1069)	0.362673703911378
  (1113, 824)	0.3355682918682472
  (1114, 7432)	0.1997734986557403
  (1114, 7116)	0.3245088199949859
  (1114, 6890)	0.2861786474620436
  (1114, 6722)	0.29139696788034863
  (1114, 5699)	0.26161302781175655
  (1114, 4641)	0.25909090416727093
  (1114, 3207)	0.22328285527881422
  (1114, 3071)	0.2544880193488377
  (1114, 2054)	0.2320031608724983
  (1114, 1987)	0.22963398988087766
  (1114, 1937)	0.2737336817148946
  (1114, 1920)	0.3245088199949859
  (1114, 1788)	0.3885768478788556

In [23]:
# Convert y_train and y_test as value as integers

In [24]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [25]:
y_train

4292    1
450     1
4104    0
4222    1
407     1
       ..
826     1
3735    1
2942    1
2064    0
4818    1
Name: Category, Length: 4457, dtype: int32

# Training The model

# Logistic Regression

In [26]:
model = LogisticRegression()

In [27]:
# training the logistic regression model with the training data

In [28]:
model.fit(x_train_feature,y_train)

LogisticRegression()

# Evaluating the trained model

In [29]:
# prediction on training data

In [30]:
prediction = model.predict(x_train_feature)

In [31]:
accuracy = accuracy_score(y_train,prediction)

In [32]:
print('Accuracy score of the model is:',accuracy)

Accuracy score of the model is: 0.9692618353152345

In [33]:
# prediction on test data

In [34]:
prediction = model.predict(x_test_feature)

In [35]:
accuracy = accuracy_score(y_test,prediction)

In [36]:
accuracy

0.9533632286995516

# Building a predictive system

In [37]:
input_mail  = ["Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030"]

In [38]:
# Convert ext to feature vectors

input_data_features = feature_extraction.transform(input_mail)

# Make predictions

predictions = model.predict(input_data_features)
print(predictions)

[0]

In [39]:
if predictions[0]==1:
    print("Ham Mail")
else:
    print("Spam Mail")

Spam Mail