In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mail_data.csv")

In [3]:
df['label_tag']=df["Category"].map({"ham":0,"spam":1})

In [4]:
df.head()

  Category                                            Message  label_tag
0      ham  Go until jurong point, crazy.. Available only ...          0
1      ham                      Ok lar... Joking wif u oni...          0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3      ham  U dun say so early hor... U c already then say...          0
4      ham  Nah I don't think he goes to usf, he lives aro...          0

In [5]:
y = df.iloc[:,-1]

In [6]:
X=df.iloc[:, 1:]

In [7]:
print(X)

                                                Message  label_tag
0     Go until jurong point, crazy.. Available only ...          0
1                         Ok lar... Joking wif u oni...          0
2     Free entry in 2 a wkly comp to win FA Cup fina...          1
3     U dun say so early hor... U c already then say...          0
4     Nah I don't think he goes to usf, he lives aro...          0
...                                                 ...        ...
5567  This is the 2nd time we have tried 2 contact u...          1
5568               Will Ã¼ b going to esplanade fr home?          0
5569  Pity, * was in mood for that. So...any other s...          0
5570  The guy did some bitching but I acted like i'd...          0
5571                         Rofl. Its true to its name          0

[5572 rows x 2 columns]

In [8]:
print(y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: label_tag, Length: 5572, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.15, random_state=8)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
X_train

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
feature_extraction  = TfidfVectorizer(min_df = 1,stop_words = 'english', lowercase = 'True')

In [ ]:
x_train_feature = feature_extraction.fit_transform(X_train.Message)
print(x_train_feature)

In [ ]:
x_test_feature = feature_extraction.transform(X_test.Message)
print(x_test_feature)

In [ ]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [ ]:
models={"Multi-layer Perceptron Classification": MLPClassifier(hidden_layer_sizes=[20, 20], \
                                                           learning_rate='adaptive', random_state=8)}

In [ ]:
for model_name, model in models.items():
    y_pred=model.fit(x_train_feature, y_train).predict(x_test_feature)
    print(y_pred)
    print(f"Accuracy for {model_name} model : {accuracy_score(y_test, y_pred)}")

In [ ]:
y_pred=model.fit(x_train_feature, y_train).predict(a)

In [ ]:
y_pred

In [ ]:
type(X_train.Message)

In [ ]:
l  = ["I am Ham",
     " I am not beautiful"]

In [ ]:
d = pd.Series('I am giving you my OTP')

In [ ]:
d

In [ ]:
a = feature_extraction.transform(d)

In [ ]:
X_train.label_tag[2153]