In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv("spam.csv",encoding = 'latin-1')

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.drop(columns = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace = True)

In [5]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.columns = ['Category','Text']

In [7]:
df.head()

  Category                                               Text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
df['number'] = df.Category.map({'ham':0,'spam':1})

In [10]:
df.head()

  Category                                               Text  number
0      ham  Go until jurong point, crazy.. Available only ...       0
1      ham                      Ok lar... Joking wif u oni...       0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...       1
3      ham  U dun say so early hor... U c already then say...       0
4      ham  Nah I don't think he goes to usf, he lives aro...       0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(df['Text'], 
                                                    df['number'], 
                                                    random_state=2)

In [12]:
count_vector = CountVectorizer()

In [13]:
# Fit the training data and then return the matrix
training_data = count_vector.fit_transform(X_train)

In [14]:
print(training_data)

  (0, 4001)	2
  (0, 7317)	1
  (0, 686)	1
  (0, 3989)	1
  (1, 7317)	1
  (1, 1566)	1
  (1, 6974)	1
  (1, 2793)	2
  (1, 1911)	1
  (1, 3303)	1
  (1, 6610)	1
  (1, 3557)	1
  (1, 6614)	1
  (1, 1134)	1
  (1, 1021)	1
  (1, 7070)	1
  (1, 1499)	1
  (1, 3571)	1
  (1, 5508)	1
  (1, 4527)	2
  (1, 5778)	1
  (1, 941)	1
  (1, 3580)	1
  (1, 3015)	1
  (1, 3737)	1
  :	:
  (4175, 4471)	1
  (4175, 4614)	1
  (4175, 7240)	1
  (4176, 7317)	1
  (4176, 4663)	2
  (4176, 7163)	1
  (4176, 3451)	1
  (4176, 4023)	1
  (4176, 3087)	1
  (4176, 5698)	1
  (4176, 2092)	1
  (4176, 3420)	1
  (4177, 7317)	1
  (4177, 3176)	1
  (4177, 7102)	1
  (4177, 988)	1
  (4177, 4543)	1
  (4177, 3397)	1
  (4178, 3015)	1
  (4178, 4590)	1
  (4178, 6579)	1
  (4178, 7322)	1
  (4178, 6462)	1
  (4178, 6483)	1
  (4178, 5548)	1

In [15]:
# Transform testing data and return the matrix. Note we are not fitting the testing data into the CountVectorizer()
testing_data = count_vector.transform(X_test)

In [16]:
print(testing_data)

  (0, 920)	1
  (0, 1134)	1
  (0, 1601)	1
  (0, 2072)	1
  (0, 2263)	1
  (0, 2457)	1
  (0, 3165)	1
  (0, 3406)	1
  (0, 3566)	2
  (0, 4422)	1
  (0, 4578)	1
  (0, 4679)	1
  (0, 4686)	1
  (0, 6490)	1
  (0, 6501)	1
  (0, 7098)	1
  (1, 423)	1
  (1, 902)	1
  (1, 941)	1
  (1, 994)	1
  (1, 1053)	1
  (1, 2184)	1
  (1, 2837)	1
  (1, 2871)	1
  (1, 3549)	1
  :	:
  (1390, 3087)	1
  (1390, 4023)	1
  (1390, 5147)	1
  (1390, 5482)	1
  (1391, 1277)	1
  (1391, 1560)	1
  (1391, 2078)	1
  (1391, 2282)	1
  (1391, 3176)	1
  (1391, 4100)	1
  (1391, 4319)	1
  (1391, 4543)	1
  (1391, 4638)	1
  (1391, 4756)	1
  (1391, 4808)	1
  (1391, 5379)	1
  (1392, 1466)	1
  (1392, 1687)	2
  (1392, 3549)	1
  (1392, 3700)	1
  (1392, 4134)	1
  (1392, 4596)	1
  (1392, 5161)	1
  (1392, 5953)	1
  (1392, 7303)	1

In [17]:
# Import the RandomForest, 
from sklearn.ensemble import RandomForestClassifier

In [18]:
# Instantiate a RandomForestClassifier with:

rf_model = RandomForestClassifier(n_estimators=200)

In [19]:
rf_model.fit(training_data,y_train)

RandomForestClassifier(n_estimators=200)

In [20]:
rf_preds = rf_model.predict(testing_data)
rf_preds

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [21]:
def print_metrics(y_true, preds, model_name=None):
    print('Accuracy score for ' + model_name + ' :' , format(accuracy_score(y_true, preds)))
    print('Precision score ' + model_name + ' :', format(precision_score(y_true, preds)))
    print('Recall score ' + model_name + ' :', format(recall_score(y_true, preds)))
    print('F1 score ' + model_name + ' :', format(f1_score(y_true, preds)))

In [22]:
print_metrics(y_test,rf_preds,'random forest')

Accuracy score for random forest : 0.9641062455132807
Precision score random forest : 1.0
Recall score random forest : 0.7435897435897436
F1 score random forest : 0.8529411764705882

In [23]:
def single_input(test_message):
    count_vector = CountVectorizer()
    training_data = count_vector.fit_transform(X_train)
    testing_data = count_vector.transform(pd.Series(test_message))
    return rf_model.predict(testing_data)

In [30]:
text_message = 'Go until jurong point, crazy.. Available only'
single_input(text_message)

array([0], dtype=int64)