In [1]:
#pip install pandas
#pip install numpy
#pip install scikit-learn

In [113]:
import  pandas as pd
import numpy as np

In [114]:
df = pd.read_csv("spam.csv",encoding = 'latin')

In [117]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [116]:
df.drop(columns = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace = True)

In [119]:
df.columns = ['Category','Text']

In [120]:
df['Category'] = df.Category.map({'ham':0,'spam':1})

In [121]:
df.head()

   Category                                               Text
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [122]:
x = df.iloc[:,1]
y = df.iloc[:,0]

In [123]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Text, Length: 5572, dtype: object

In [124]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int64

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 4)

In [81]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [82]:
tfidf = TfidfVectorizer()

In [83]:
training_data = tfidf.fit_transform(x_train)

In [84]:
print(training_data)

  (0, 1461)	0.400837819186677
  (0, 3391)	0.18229334089458668
  (0, 4522)	0.4770579302752445
  (0, 5401)	0.3820109322932503
  (0, 6439)	0.13628217155570088
  (0, 2968)	0.2791199673652606
  (0, 1667)	0.4086333251378819
  (0, 7139)	0.34600664844721835
  (0, 4484)	0.2222588079160418
  (1, 2849)	0.4038779627153759
  (1, 3131)	0.22523984325699345
  (1, 3447)	0.5078898206296056
  (1, 4237)	0.45560875296920383
  (1, 1503)	0.41596734906125354
  (1, 4568)	0.2646270306991609
  (1, 3506)	0.2784993675027199
  (2, 1993)	0.6104423765565974
  (2, 7156)	0.23276761922958575
  (2, 4969)	0.6104423765565974
  (2, 1198)	0.34027325459962077
  (2, 7152)	0.16213833165646688
  (2, 3131)	0.24179478666401508
  (3, 3677)	0.3690115900397455
  (3, 4374)	0.3690115900397455
  (3, 2443)	0.3690115900397455
  :	:
  (3897, 4007)	0.2658219766801669
  (3897, 2249)	0.21042639316582934
  (3897, 2295)	0.26346111681970086
  (3897, 4684)	0.5103453079250186
  (3897, 6335)	0.17071645579257072
  (3897, 3501)	0.13365505796877802
  (3897, 4394)	0.1875853674828427
  (3897, 4338)	0.13143751853449945
  (3897, 6933)	0.16677978290966147
  (3897, 5580)	0.1787358375487761
  (3897, 4875)	0.20342877920628058
  (3897, 6439)	0.09037769016583384
  (3898, 4437)	0.31373328224411196
  (3898, 2977)	0.3570646917948487
  (3898, 1162)	0.450470106639969
  (3898, 2680)	0.3696661570486596
  (3898, 2677)	0.3570646917948487
  (3898, 6914)	0.3129113376126473
  (3898, 4495)	0.22319126294459685
  (3898, 4338)	0.20270644232709772
  (3898, 2979)	0.26714524348949376
  (3898, 3131)	0.21638005170203772
  (3899, 1104)	0.5859538694504999
  (3899, 3913)	0.7681995344106317
  (3899, 7152)	0.25792932793165485

In [85]:
testing_data = tfidf.transform(x_test)

In [127]:
testing_data

<1672x7196 sparse matrix of type '<class 'numpy.float64'>'
	with 20395 stored elements in Compressed Sparse Row format>

In [130]:
print(testing_data)

  (0, 7063)	0.3821666137473574
  (0, 6454)	0.41006247905563814
  (0, 4692)	0.5685365318153995
  (0, 2149)	0.5524423813636329
  (0, 1497)	0.23952258739463014
  (1, 7152)	0.16646496129883417
  (1, 3926)	0.6587259062658207
  (1, 3914)	0.4264283028773174
  (1, 691)	0.5971000750119043
  (2, 7156)	0.08989935289268192
  (2, 7090)	0.13922620969866908
  (2, 7003)	0.105679231768613
  (2, 6665)	0.18889818120654728
  (2, 6296)	0.12274963886265029
  (2, 6025)	0.12767198317970524
  (2, 5814)	0.15555009924347332
  (2, 5601)	0.1944149643069099
  (2, 4875)	0.13540175911856356
  (2, 4452)	0.10313616827678275
  (2, 4408)	0.17693053753407742
  (2, 3882)	0.2105742322662026
  (2, 3401)	0.2357646429187419
  (2, 3170)	0.15340680216929017
  (2, 3000)	0.2105742322662026
  (2, 2754)	0.0880526918717043
  :	:
  (1669, 7044)	0.34958211147162305
  (1669, 6702)	0.313552915625449
  (1669, 6597)	0.360128389255135
  (1669, 6410)	0.23277581569337594
  (1669, 6362)	0.20692132113563425
  (1669, 6342)	0.360128389255135
  (1669, 6326)	0.14778829729865928
  (1669, 4564)	0.26752890433355997
  (1669, 4544)	0.17912779292044903
  (1669, 3491)	0.1619307106255805
  (1669, 3220)	0.42817668691251703
  (1669, 2691)	0.2967057422878843
  (1670, 7152)	0.26790826006485435
  (1670, 6670)	0.4641122605557317
  (1670, 6439)	0.2573591148915483
  (1670, 4495)	0.41210445187315076
  (1670, 4394)	0.5341672712967902
  (1670, 2914)	0.43752315001012343
  (1671, 5668)	0.4176269390092576
  (1671, 4598)	0.26938405363751683
  (1671, 4495)	0.22302909411966512
  (1671, 3907)	0.3021760682435232
  (1671, 3611)	0.426735814481445
  (1671, 3133)	0.4220185796093739
  (1671, 1003)	0.5017613790637625

In [86]:
from sklearn.naive_bayes import GaussianNB

In [87]:
model = GaussianNB()

In [129]:
model.fit(training_data.toarray(),y_train)

GaussianNB()

In [89]:
y_pred = model.predict(testing_data.toarray())

In [90]:
y_pred

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [91]:
from sklearn.metrics import accuracy_score

In [92]:
accuracy_1 = (accuracy_score(y_test,y_pred))

In [93]:
accuracy_1

0.8941387559808612

In [131]:
def take_input(input_message):
    tfidf = TfidfVectorizer()
    training_data = tfidf.fit_transform(x_train)
    testing_data = tfidf.transform(pd.Series(input_message))
    return  model.predict(testing_data.toarray())

In [132]:
input_message = 'Go until jurong point, crazy.. Available only'

In [133]:
a = take_input(input_message)

In [135]:
if a==0:
    print("Ham")
else:
    print("Spam")

Ham